{%- if site.data.archive -%}
  {%- for item in site.data.archive -%}
    {%- if item.type == "supervision" -%}
      {% assign supervisions_archive_page = item.url %}
      {% break %}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

<div class="post-tags-section">
  <i class="post-tags-icon fas fa-tags"></i>
  <ul class="post-tags">
    {%- for supervision in page.supervision -%}
      <li>
        {% assign slugified_supervision = supervision | slugify %}
        {%- if supervisions_archive_page -%}
          <a class="post-tag" href="{{ supervisions_archive_page | relative_url }}#{{ slugified_supervision }}">{{ supervision }}</a>
        {%- else -%}
          <span class="post-tag">{{ slugified_supervision }}</span>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</div>
