<div>
<a
class="text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral"
href="{{ .RelPermalink }}"
>{{ .Params.publication.title | emojify }}</a
>

{{ with .Params.publication }}
<div class="text-sm text-neutral-500 dark:text-neutral-400">
    <div class="text-neutral-700 dark:text-neutral-300">
        {{ delimit .authors ", "}} ({{ .year }})
    </div>
    <div class="text-xs flex">
        <div class="flex-col">
            <div>
                <em>{{ .booktitle }} </em>, {{ .volume_issue_page }}.
            </div>
            <div>
                DOI: <a class="hover:underline hover:underline-offset-2 dark:text-neutral"
                href="https://doi.org/{{ .doi }}"
                >{{ .doi | emojify }}</a
                >
            </div>
        </div>

        {{ if isset . "jcr" }}
            <div class="ms-2 whitespace-nowrap position=0">
            {{ if eq .publication_type "journal" }}
                {{ partial "badge.html" ( (print "JCR " .jcr) | emojify) }}
            {{ else if eq .publication_type "conference" }}
                {{ partial "badge.html" ( (print "CORE " .jcr) | emojify) }}
            {{ else }}
                {{ partial "badge.html" ( .jcr | emojify) }}
            {{ end }}
                
            </div>
        {{ end }}

    </div>

    </div>
    
{{ end }}
</div>

