---
layout: default
---

{% include home-header.html %}

<h1>{{ page.title }}</h1>

{%- if page.type == 'publications' -%}
  {%- assign all_publications = site.posts | where: 'categories', 'publication' | group_by: 'publication_type' -%}
{%- else -%}
  {%- assign all_publications = none -%}
{%- endif -%}

<!-- {% comment %} Show posts by publication type {% endcomment %}
{% comment %} Show all journals {% endcomment %}
<h2 id="journals">
  Journals
</h2>
<ul class="post-list-by-taxonomy">
  {%- assign journals = publications | where: 'publication_type', 'journal' -%}
  {%- for post in journals -%}
    <li>
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time> &raquo; <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </li>
  {%- endfor -%}
</ul>
{% comment %} Show all conferences {% endcomment %}
<h2 id="conferences">
  Conferences
</h2>
<ul class="post-list-by-taxonomy">
  {%- assign conferences = publications | where: 'publication_type', 'conference' -%}
  {%- for post in conferences -%}
    <li>
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time> &raquo; <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </li>
  {%- endfor -%}
</ul>
{% comment %} Show other publications {% endcomment %}
<h2 id="others">
  Others
</h2>
<ul class="post-list-by-taxonomy">
  {%- assign others = publications | where: 'publication_type', nil -%}
  {%- for post in others -%}
    <li>
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time> &raquo; <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </li>
  {%- endfor -%}
</ul> -->


{% comment %} Show posts by conference type {% endcomment %}
{%- for publications in all_publications -%}
  {%- assign publications_type = publications.name -%}
  {%- if publications.name != '' -%}
    {%- assign publications_type = publications.name -%}
  {%- else -%}
    {%- assign publications_type = 'others' -%}
  {%- endif -%}
  {%- assign posts = publications.items -%}
  <h2 id="{{ publications_type }}">
      {{ publications_type }}
  </h2>
  <ul class="post-list-by-taxonomy">
    {%- for post in posts -%}
      <li>
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time> &raquo; <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </li>
    {%- endfor -%}
  </ul>
  <a href="#" onclick="backToTop()" class="back-to-top">Top &#8648;</a>
{%- endfor -%}

<script>
  function backToTop() {
    const main = document.getElementById("site-main");
    main.scrollTop = 0;
  }
</script>